<div class="sidebar">
  <img width="136" height="136" align="center" src="../../images/couchdb-logo.png"/>
  <h2>Subscriptions</h2>
  <ul id="subscriptions"></ul>
  <p/>
  <h2>Archives</h2>
  <ul>
    <li>
      <div id="archives"></div>
    </li>
  </ul>
  <p/>
  <h2>Credits</h2>
  <ul>
    <li>CSS by <a href="http://www.kriesse.de">Kriesse</a>, slightly customized by <a href="http://github.com/KlausTrainer">Klaus Trainer</a></li>
  </ul>
  <p/>
  <h2>Feeds</h2>
  <ul id="feeds">
    <li>
      <a href="{{feedPath}}">Atom Feed</a>
    </li>
  </ul>
</div>
